<section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle">Get in Touch</span>

    <div class="contact__container container grid">
        <div>
            <div class="contact__information">
                <i class="uil uil-phone-alt contact__icon"></i>

                <div>
                    <h3 class="contact__title">Call Me</h3>
                    <span class="contact__subtitle">9322667970</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-envelope-alt contact__icon"></i>

                <div>
                    <h3 class="contact__title">Email</h3>
                    <span class="contact__subtitle">bhavld1732@gmail.com</span>
                </div>
            </div>

            <div class="contact__information">
                <i class="uil uil-location-point contact__icon"></i>

                <div>
                    <h3 class="contact__title">Location</h3>
                    <span class="contact__subtitle">Mumbai</span>
                </div>
            </div>
        </div>

        <form action="{% url 'send_msg_email' %}" method="POST" class="contact__form grid">
            {% csrf_token %}
            <div class="contact__inputs grid">
                <div class="contact__content">
                    <label for="name" class="contact__label">Name</label>
                    <input type="text" id="name" name="name" class="contact__input" required>
                </div>

                <div class="contact__content">
                    <label for="email" class="contact__label">Email</label>
                    <input type="email" id="email" name="email" class="contact__input" required>
                </div>
            </div>

            <div class="contact__content">
                <label for="msg" class="contact__label">Message</label>
                <textarea name="msg" id="msg" cols="0" rows="7" class="contact__input" required></textarea>
            </div>

            <div>
                <button type="submit" class="button button--flex" style="border: none; cursor: pointer;">
                    Send Message
                    <i class="uil uil-message button__icon"></i>
                </button>
            </div>
        </form>
    </div>
</section>