<section class="qualification section">
    <h2 class="section__title">Qualification</h2>
    <span class="section__subtitle">My Personal Journey</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex">
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>
        </div>

        <div class="qualification__sections">
            <div class="qualification__content">
                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">School</h3>
                        <span class="qualification__subtitle">Tapti Public School</span>
                        <div class="qualification__calender">
                            <i class="uil uil-calendar-alt"></i>
                            2005 - 2017
                        </div>
                    </div>

                    <div>
                        <div class="qualification__rounder"></div>
                        <div class="qualification__line"></div>
                    </div>
                </div>

                <div class="qualification__data">
                    <div></div>
                    <div>
                        <div class="qualification__rounder"></div>
                        <div class="qualification__line"></div>
                    </div>

                    <div>
                        <h3 class="qualification__title">High School</h3>
                        <span class="qualification__subtitle">Upadhye College Of Science</span>
                        <div class="qualification__calender">
                            <i class="uil uil-calendar-alt"></i>
                            2017 - 2019
                        </div>
                    </div>
                </div>

                <div class="qualification__data">
                    <div>
                        <h3 class="qualification__title">Information Technology</h3>
                        <span class="qualification__subtitle">Vidyalankar Institute Of Technology</span>
                        <div class="qualification__calender">
                            <i class="uil uil-calendar-alt"></i>
                            2019 - 2023
                        </div>
                    </div>

                    <div>
                        <div class="qualification__rounder"></div>
                        <!-- <div class="qualification__line"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>